body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #ede6db;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #ede6db;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #ede6db;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #417d7a;
}
.top-container {
  background-color: #6998ab;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0px;
}

.bottom-container {
  background-color: #1a3c40;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.photo1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.photo2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  boder-radius: 8;
  background-image: linear-gradient(#11cdd4, #11999e);
}

.btn:hover {
  background-image: linear-gradient(#30e3cb, #2bc4ad);
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #ede6db;
  font-size: 0.75rem;
  padding: 20px 0;
}

.profilepic {
  width: 25%;
}
